#hero .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#hero .section-content .left {
  padding: 198px 30px 60px 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 1079px) {
  #hero .section-content .left {
    padding: 170px 25px 25px 25px;
  }
}
#hero .section-content .left h1 {
  font-family: Graphit;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 96.5%;
  letter-spacing: 1.16981px;
  color: #0F456B;
  max-width: 570px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  #hero .section-content .left h1 {
    font-size: 75px;
  }
}
@media (max-width: 1079px) {
  #hero .section-content .left h1 {
    font-size: 50px;
    max-width: 400px;
  }
}
#hero .section-content .left h2 {
  font-family: Graphit;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 1.16981px;
  color: #E5475B;
  margin: 10px auto;
  max-width: 570px;
}
@media (max-width: 1439px) {
  #hero .section-content .left h2 {
    font-size: 55px;
  }
}
@media (max-width: 1079px) {
  #hero .section-content .left h2 {
    font-size: 35px;
    max-width: 400px;
  }
}
#hero .section-content .left p {
  font-family: HKGrotesk;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #717171;
  margin: 30px auto 5px;
  width: 100%;
  max-width: 570px;
}
@media (max-width: 1079px) {
  #hero .section-content .left p {
    max-width: 400px;
  }
}
#hero .section-content .left .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 570px;
  margin: 0 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1079px) {
  #hero .section-content .left .logos {
    max-width: 400px;
  }
}
#hero .section-content .left .logos img + img {
  margin-left: 50px;
}
#hero .section-content .right img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 750px) {
  #hero .section-content .right {
    display: none;
  }
}

.main-content {
  max-width: 1370px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: HKGrotesk;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}
.main-content .intro h2 {
  font-family: Graphit;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 1px;
  color: #E5475B;
  margin: 0 0 60px 0;
}
.main-content .intro p {
  margin: 0 auto;
  max-width: 920px;
}
.main-content .intro p + p {
  margin-top: 45px;
}

h2.two-step-headline {
  font-family: Graphit;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #0F456B;
  margin: 0;
}
@media (max-width: 900px) {
  h2.two-step-headline {
    font-size: 30px;
  }
}
h2.two-step-headline strong {
  font-family: Graphit;
  font-style: normal;
  font-weight: normal;
  font-size: 98px;
  line-height: 88px;
  color: #E5475B;
}
@media (max-width: 900px) {
  h2.two-step-headline strong {
    font-size: 50px;
    line-height: 60px;
  }
}

#key-findings {
  margin: 70px 0;
}
#key-findings .finding-block {
  text-align: center;
}
#key-findings .finding-block + .finding-block {
  margin-top: 100px;
}
#key-findings .finding-block .insights {
  color: #fff;
  display: grid;
  grid-gap: 55px;
  margin: 40px 0 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
}
#key-findings .finding-block .insights.red article {
  background: #E5475B;
}
#key-findings .finding-block .insights.blue article {
  background: #0F456B;
}
@media (max-width: 1080px) {
  #key-findings .finding-block .insights {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 720px) {
  #key-findings .finding-block .insights {
    grid-template-columns: 1fr;
  }
}
#key-findings .finding-block .insights:after {
  content: "";
  position: absolute;
  top: 31%;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #0F456B), color-stop(20%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, #0F456B 10%, rgba(255, 255, 255, 0) 20%);
  background-position: top;
  background-size: 20px 2px;
  background-repeat: repeat-x;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -1;
}
#key-findings .finding-block .insights article {
  padding: 30px 20px;
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
#key-findings .finding-block .insights article img {
  display: block;
  margin: 0 auto 10px;
}

#regional-partners {
  margin: 80px 0;
  text-align: center;
  position: relative;
}
#regional-partners h2 {
  margin-bottom: 20px;
}
#regional-partners p {
  max-width: 920px;
  text-align: left;
  margin: 40px auto;
}
#regional-partners .background {
  position: absolute;
  left: calc(-50vw + 665px);
  width: 100vw;
  z-index: -1;
}

#the-return h4 {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 38px;
  color: #0F456B;
}
#the-return .side-by-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}
@media (max-width: 780px) {
  #the-return .side-by-side {
    display: block;
  }
}
#the-return .side-by-side > div:nth-child(1) {
  padding: 20px 20px 20px 0;
}
#the-return .side-by-side > div:nth-child(2) {
  padding: 20px 0 20px 20px;
}
@media (max-width: 780px) {
  #the-return .side-by-side > div:nth-child(2) {
    padding-left: 0;
  }
}
#the-return .side-by-side p {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
}
#the-return .side-by-side p + p {
  margin-top: 20px;
}
#the-return .side-by-side h3 {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 60px;
  color: #E5475B;
}
@media (min-width: 780px) {
  #the-return .side-by-side.bordered > div:nth-child(1) {
    border-right: 1px solid #979797;
  }
}
#the-return .double-chart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}
#the-return .double-chart-block img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 940px) {
  #the-return .double-chart-block {
    display: block;
  }
  #the-return .double-chart-block div + div {
    margin-top: 40px;
  }
}
#the-return .double-chart-block h4 {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 100%;
  color: #0F456B;
  border-bottom: 1px solid #0F456B;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
#the-return .double-chart-block > div:nth-child(1) {
  padding: 20px 40px 20px 0;
}
#the-return .double-chart-block > div:nth-child(2) {
  padding: 20px 0 20px 40px;
}
#the-return .double-chart-block > div:nth-child(2) img + h4 {
  margin-top: 20px;
}
#the-return .side-by-side-charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#the-return .side-by-side-charts + .side-by-side-charts {
  margin-top: 70px;
}
#the-return .side-by-side-charts h4 {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 108.9%;
  color: #E5475B;
  margin-bottom: 20px;
}
#the-return .side-by-side-charts p {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
}
#the-return .side-by-side-charts > div:nth-child(1) {
  margin-right: 40px;
}
/*# sourceMappingURL=style.css.map */